<template>
  <v-container style="margin: 50px auto;">
    <h1 class="mb-5">Work Logger</h1>
    <v-card>
      <v-card-text>
        <AddLog 
          @addLog="addLog" 
        />
      </v-card-text>
      <v-divider />
      <v-card-text>
        <v-container>
          <SummaryLog 
            :logEntries="logEntries" 
          />
          <LogList 
            :logEntries="logEntries" 
            @deleteLog="deleteLog"
            @editLog="editLog"
          />
        </v-container>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import AddLog from "../components/AddLog.vue";
import SummaryLog from "../components/SummaryLog.vue";
import LogList from "../components/LogList.vue";

export default {
  name: 'WorkLogger',
  components: { AddLog, SummaryLog, LogList },
  data: function() {
    return {
      logEntries: [
        {
          id: 0,
          duration: 3, // in hours
          project: 'Hydra',
          remarks: 'Created models',
          create_date: '2020-01-10'
        },

        {
          id: 1,
          duration: 3,
          project: 'Dragon MY',
          remarks: 'Setup project',
          create_date: '2020-01-01'
        },

        {
          id: 2,
          duration: 1.75,
          project: 'Hydra',
          remarks: 'Updated UI',
          create_date: '2020-01-09'
        },

        {
          id: 3,
          duration: 1,
          project: 'Dragon P2P',
          remarks: 'Meeting with client',
          create_date: '2020-01-01'
        }
      ],
      nextId: 4,
    };
  },
  methods: {
    addLog: function ({ duration, project, remarks }) {
      const today = new Date();
      const date = String(today.getDate()).padStart(2, '0');
      const month = String(today.getMonth()).padStart(2, '0');
      const year = today.getFullYear();
      const create_date = `${year}-${month}-${date}`;
      // Add new log entry
      this.logEntries.push({
        id: this.nextId,
        duration,
        project,
        remarks,
        create_date,
      });
      return this.nextId++;
    },
    deleteLog: function(logId) {
      const index = this.logEntries.findIndex(i => i.id == logId);
      this.logEntries.splice(index, 1);
      return logId;
    },
    editLog: function(logId, updatedItem) {
      const index = this.logEntries.findIndex(i => i.id == logId);
      this.logEntries.splice(index, 1, updatedItem);
    },
  }
};
</script>