<template>
  <v-form 
    ref="form"
    :lazy-validation="false"
    @submit.prevent="addLog"
  >
    <v-container fluid>
      <v-row>
        <v-col>
          <h2>Log your time below:</h2>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="2">
          <v-text-field
            label="Duration"
            v-model="duration"
            :rules="durationRules"
            required
          />
        </v-col>

        <v-col cols="2">
          <v-combobox
            label="Project"
            v-model="project"
            :items="projectOptions"
            :rules="projectRules"
            :value="project"
            key="project-field"
            required
          />
        </v-col>

        <v-col cols="6">
          <v-text-field
            label="Remarks"
            v-model="remarks"
            :rules="remarksRules"
            required
          />
        </v-col>

        <v-col cols="2">
          <v-btn
            color="primary" 
            type="submit"
            min-width="100"
          >
            Add
          </v-btn>
        </v-col>
      </v-row>
    </v-container>  
  </v-form>
</template>

<script>
import { projectOptions } from "../constants/optionsConstants";
import validationRules from "../constants/validationRules";
import { formatDuration } from "../utils";

const { durationRules, projectRules, remarksRules } = validationRules;

export default {
  name: 'AddLog',
  
  data: function() {
    return {
      duration: "",
      project: "",
      remarks: "",

      projectOptions,
      durationRules,
      projectRules,
      remarksRules,
    };
  },
  methods: {
    resetForm: function () {
      this.$refs.form.reset();
      this.$refs.form.resetValidation();
    },
    addLog: function () {
      if (!this.$refs.form.validate()){
        console.log('invalid form');
        return;
      }
      // Form is valid, add new log entry
      this.$emit("addLog", {
        duration: formatDuration(this.duration),
        project: this.project,
        remarks: this.remarks,
      });
      this.$nextTick(function () {
        this.resetForm();
      });
    }
  }
}
</script>