<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <b>Sort list by: </b>
        <v-btn-toggle class="ml-5">
          <SortButton 
            v-model="durationSort"
            min-width="150"
          >
            Duration
          </SortButton>
          <SortButton 
            v-model="projectSort"
            min-width="150"
          >
            Project
          </SortButton>
          <v-btn
            small
            min-width="100"
            @click="resetSort"
          >
            Reset
          </v-btn>
        </v-btn-toggle>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
      <v-form 
        ref="form"
        :lazy-validation="false"
        @submit.prevent="saveEdit"
      >
        <v-simple-table>
          <template #default>
            <thead>
              <tr>
                <th style="width: 100px;">Duration</th>
                <th style="width: 150px;">Project</th>
                <th style="width: 250px;">Remarks</th>
                <th style="width: 80px;">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in filteredLogEntries" :key="editID == item.id ? 'edit' + item.id : item.id">
                <template v-if="editID != item.id">
                  <td>{{ item.duration | duration("h") }}</td>
                  <td>{{ item.project }}</td>
                  <td>{{ item.remarks }}</td>
                  <td>
                    <v-btn 
                      depressed
                      min-width="100"
                      class="mr-5"
                      color="primary"
                      @click="editLog(item)"
                    >
                      Edit
                    </v-btn>
                    <v-btn 
                      depressed
                      min-width="100"
                      class="white--text"
                      color="red"
                      @click="deleteLog(item.id)"
                    >
                      Delete
                    </v-btn>
                  </td>
                </template>

                <template v-else>
                  <td>
                    <v-text-field
                      v-model="editItem.duration"
                      :rules="durationRules"
                      required
                    />
                  </td>
                  <td>
                    <v-combobox
                      v-model="editItem.project"
                      :items="projectOptions"
                      :rules="projectRules"
                      required
                    />
                  </td>
                  <td>
                    <v-text-field
                      v-model="editItem.remarks"
                      :rules="remarksRules"
                      required
                    />
                  </td>
                  <td>
                    <v-btn 
                      depressed
                      color="primary"
                      class="mr-5"
                      min-width="100"
                      type="submit" 
                    >
                      Save
                    </v-btn>
                    <v-btn 
                      outlined
                      depressed
                      min-width="100"
                      @click="cancelEdit"
                    >
                      Cancel
                    </v-btn>
                  </td>
                </template>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-form>
      </v-col>
    </v-row>
    <v-row class="mt-5 text-center">
      <v-col>
        <div>Showing {{ filteredLogEntries.length }} out of {{ logEntries.length }} entries</div>
      </v-col>
    </v-row>
    <v-row class="text-center" v-if="allowShowMore">
      <v-col>
        <v-btn
          color="primary" 
          text
          :v-if="allowShowMore"
          @click="showMore"
        >
          Show more
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import SortButton from "./SortButton";
import { projectOptions } from "../constants/optionsConstants";
import validationRules from "../constants/validationRules";
import { formatDuration, convertDuration, sortDecreasing, sortIncreasing, cloneObject  } from "../utils";

const { durationRules, projectRules, remarksRules } = validationRules;
const DEFAULT_SHOW_MORE = 4;


export default {
  name: 'LogList',
  
  components: { SortButton },

  props: {
    logEntries: {
      type: Array,
      required: true,
    }
  },
  data: function () {
    return {
      // Log ID of entry currently being edited
      editID: -1,
      editItem: {},

      projectOptions,
      durationRules,
      projectRules,
      remarksRules,

      // Filter variables. Possible values: increase, decrease, or empty string
      durationSort: "",
      projectSort: "",
      maxEntriesShown: DEFAULT_SHOW_MORE,
    }
  },
  computed: {
    sortedByDate: function () {
      const list = this.logEntries.slice();
      if (this.logEntries.length == 0) return [];
      return list.sort(function (a, b) {
        a = Date.parse(a.create_date);
        b = Date.parse(b.create_date);
        return sortIncreasing(a, b);
      });
    },
    sortedByDuration: function () {
      const list = this.logEntries.slice();
      if (this.logEntries.length == 0) return [];
      if (!this.durationSort) return list;
      var that = this;
      return list.sort(function (a, b) {
        a = a.duration;
        b = b.duration;
        if (that.durationSort == 'increase') return sortIncreasing(a, b);
        else return sortDecreasing(a, b);
      });
    },
    sortedByProject: function () {
      const list = this.logEntries.slice();
      if (this.logEntries.length == 0) return [];
      if (!this.projectSort) return list;
      var that = this;
      return list.sort(function (a, b) {
        a = a.project;
        b = b.project;
        if (that.projectSort == 'increase') return sortIncreasing(a, b);
        else return sortDecreasing(a, b);
      });
    },
    sortedLogEntries: function () {
      if (this.durationSort) return this.sortedByDuration;
      if (this.projectSort) return this.sortedByProject;
      return this.sortedByDate;
    },
    filteredLogEntries: function () {
      return this.sortedLogEntries.slice(0, this.maxEntriesShown);
    },
    allowShowMore: function () {
      return this.filteredLogEntries.length < this.logEntries.length;
    }
  },
  watch: {
    durationSort: function (value) {
      this.projectSort = "";
      this.durationSort = value;
    },
    projectSort: function (value) {
      this.durationSort = "";
      this.projectSort = value;
    }
  },
  methods: {
    resetSort: function () {
      this.projectSort = "";
      this.durationSort = "";
    },
    deleteLog: function(logId) {
      this.$emit('deleteLog', logId);
    },
    editLog: function(item) {
      this.editID = item.id;
      this.editItem = cloneObject({
        ...item,
        duration: convertDuration(item.duration),
      });
    },
    saveEdit: function() {
      if (!this.$refs.form.validate()){
        console.log('invalid form');
        return;
      }
      // Form is valid, add new log entry
      this.$emit("editLog", this.editID, {
        ...this.editItem,
        duration: formatDuration(this.editItem.duration),
      });
      this.$nextTick(function () {
        this.cancelEdit();
      });
    },
    cancelEdit: function() {
      this.editID = -1;
      this.$refs.form.reset();
      this.$refs.form.resetValidation();
    },
    showMore: function () {
      // Show 4 more entries
      const filteredLength = this.filteredLogEntries.length;
      const showMore = Math.min(DEFAULT_SHOW_MORE, filteredLength);
      this.maxEntriesShown += showMore;
    },
  }
}
</script>

<style scoped>
table td {
  height: 72px;
}
</style>