<template>
  <v-btn
    small
    :min-width="minWidth"
    :class="{ unsorted: !!value }" 
    @click="toggle"
  >
    <slot></slot> 
    <v-icon
      v-if="value == 'increase'"
      right 
      light 
    >
      mdi-chevron-up
    </v-icon>
    <v-icon 
      v-else-if="value == 'decrease'"
      right 
      light 
    >
      mdi-chevron-down
    </v-icon>
  </v-btn>
</template>


<script>
export default {
  name: "SortButton",

  props: {
    value: String,
    minWidth: String
  },
  methods: {
    toggle: function() {
      let value = this.value;
      if (!this.value) value = 'increase';
      if (this.value == 'increase') value = 'decrease';
      if (this.value == 'decrease') value = '';
      this.$emit('input', value);
    },
  }
}
</script>