<template>
  <v-card
    tile
    max-width="500"
    style="margin-left: auto;"
  >
    <v-list dense>
      <v-list-item 
        v-for="(projectDuration, project, i) in totalHoursPerProject" 
        :key="i"
      >
        <v-list-item-content class="font-weight-bold">{{ project }}</v-list-item-content>
        <v-list-item-content class="align-end">{{ projectDuration | duration }}</v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content class="font-weight-bold">Total Log for the Day</v-list-item-content>
        <v-list-item-content class="align-end">{{ totalHours | duration }}</v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: 'SummaryLog',
  
  props: {
    logEntries: {
      type: Array,
      required: true,
    }
  },
  computed: {
    totalHoursPerProject: function () {
      let totalHours = {};
      this.logEntries.forEach(function (item) {
        const project = item.project;
        if (project in totalHours) {
          // Add to project duration
          totalHours[project] += item.duration;
        } else {
          // Add new project
          totalHours = {
            ...totalHours,
            [project]: item.duration || 0,
          };
        }
      });
      return totalHours;
    },
    totalHours: function () {
      return this.logEntries.reduce(function (total, item) {
        return total + item.duration;
      }, 0);
    }
  }
}
</script>