<template>
  <v-app>
    <v-content>
      <WorkLogger/>
    </v-content>
  </v-app>
</template>

<script>
import WorkLogger from "./views/WorkLogger.vue";

export default {
  name: "App",

  components: {
    WorkLogger,
  },

  data: () => ({
    //
  }),
};
</script>
